/* @override 
	http://forge.dev/placeholder/style.css */

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background: -webkit-radial-gradient(ellipse farthest-corner, white 32.6%, #ecebe7 78.1%) #fff;
  background: -moz-radial-gradient(ellipse farthest-corner, white 32.6%, #ecebe7 78.1%) #fff;
  background: -ms-radial-gradient(ellipse farthest-corner, white 32.6%, #ecebe7 78.1%) #fff;
  background: radial-gradient(ellipse farthest-corner, white 32.6%, #ecebe7 78.1%) #fff;
}

body {
  font: 14px/36px "open-sans", sans-serif;
  color: #96948e;
  background-color: #3a3838;
  -webkit-font-smoothing: antialiased;
}

#placeholder {
  width: 500px;
  height: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -250px;
}

span.logo {
  width: 140px;
  height: 140px;
  background-image: url(logo.png);
  display: block;
  position: relative;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}

p:first-of-type {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {

  #placeholder {
    width: 80%;
    margin-left: -40%;
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    
  span.logo {
    background-image: url(logo@2x.png);
    background-size: 140px 140px;
  }
  
}

/*Mapa*/

#map{
  height: 750px;
  width: 100%;
}
 /*Fim do Mapa*/

/*Logo*/
#logo{
  height: 75px;
  padding: 10px;
}
#logo-mobile-menu{
  margin: 5px auto;
  display: block;
  width: 30%;
}

/*Fim do Logo*/

/*Header*/
.header{
}
#navbar{
  border: none!important;
}
.navbar-nav{
  padding-left: 10%;
  width: 100%;
}
.navbar-nav li{
  margin-left: 60px;
}
.navbar-nav li.presentation a{
  padding: 30px!important;
}
.navbar-nav li.presentation a:hover{
  color: #000000!important;
  background-color: #ffffff;
}
.navbar-nav li a{
  color: #ffffff!important;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  padding: 0!important;
}
.navbar-nav li a:hover{
  background-color: white;
  color: #000000;
}
.navbar-nav li #logo:hover{
  background-color: transparent;
}
.navbar-toggle{
  margin-top: 15px;
}
.header .navbar-default{
  background-color: #3a3838;
  border: none;
}
.center{
  margin: 0 auto;
}
.grey{
  background-color: #3a3838;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #ffffff!important;
}
.navbar-default{
  margin: 0;
}
#alagou{
  float: right;
  text-transform: uppercase;
  background-color: #df2a00;
}
@media (min-width: 768px){
  #logo-mobile-menu{
    display: none;
  }
}

/*Fim do Header*/

/*Página inicial - mapa estático*/
.static-map{
  background-image: url("images/map.png");
  background-size: 100%;
  height: 330px;
  background-attachment: fixed;
}
.static-map input{
  border-radius: 10px;
  border: 1px solid transparent;
  width: 450px;
  margin: 0 auto;
  display: block;
  margin-top: 35px;
  padding: 0 15px;
  outline: none;
}
.static-map h3{
  padding-top: 60px;
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
}
.static-map h4{
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}
.italic{
  font-style: italic;
  font-weight: 500;
}
#phone{
  margin-top: -100px;
  width: 300px;
  margin-left: 150px;
}

.how-it-works{
  background-color: #ffffff;
}
.instructions{
  padding: 50px 80px 0 100px;
  line-height: 25px;
}
.instructions b{
  font-weight: 500;
}
.instructions img{
  display: block;
  margin: 0 auto;
  height: 55px;
}
.instructions .col-md-10{
  margin-bottom: 50px;
}
.instructions h1{
  margin-top: 0;
  font-weight: bold;
  font-size: 45px;
  color: #506dc4;
  margin-bottom: 35px;
  padding-left: 35px;
}
.instructions .icon_pin-text{
  color: #0066ec;
}
.instructions .icon_star-text{
  color: #ee832e;
}
.instructions .icon_alert-text{
  color: #df2a00;
}
.app{
  padding-left: 85px;
}
.app div{
  text-align: center;
}
.app b{
  font-size: 40px;
  margin-left: 10px;
  color: #007df9;
  font-weight: 200;
}
.app img, .app a{
  height: 50px;
}
.app .col-md-5{
  padding-top: 45px;
}
.app .app_store, .app .play_store{
  margin-top: 30px;
  height: 50px;
}
.app .play_store{
  margin-left: 35px;
}
#icon{
  margin-top: -20px;
}

/* Onda no fim da página */
#waves{
  background-color: #ffffff;
  height: 160px;
}
#wave, #wave2, #wave3{
  width: 100%;
  height: 200px;
  background-color: transparent;
  margin-top: -40px;
}
#wave{
  position: absolute;
}
#wave2, #wave3{
  position: absolute;
}
/* Fim da Onda */
.blue-band{
  width: 100%;
  height: 50px;
  background-color: #27358d;
}

/* Footer */
.footer{
  padding: 20px 90px;
}
.footer img.logo{
  height: 65px;
}
/* Fim do Footer */