#section0, #section1, #section2, #section3{
	height: 90vh;
}
#section0{
	margin-top: 60px;
}
#section0 .section0-image img.phone-about{
	width: 39vh;
	margin-top: 20px;
}
#section0 .section0-text{
	height: 90vh;
    padding: 15%;
    text-align: center;
    color: #4159b4;
}
#section0 .section0-text h3{
	font-size: 30px;
}


#section1 .section1-text{
	margin-top: 10%;
	padding: 40px;
}
#section1 .section1-image{
	text-align: right;
}
#section1 .section1-image img{
	height: 80vh;
}
#iphone3{
    margin-left: -25%;
}
#section1 .section1-text img{
	width: 30px;
}
#section1 .section1-text h2{
	display: initial;
    margin-left: 25px;
    font-size: 33px;
    color: #4159b4;
    font-weight: 600;
}
#section1 .section1-text b{
	display: block;
	text-align: center;
	margin-top: 15px;
	font-size: 23px;
	font-weight: 200;
}