/*Mapa*/

#favorites{
	width: 100%!important;
	height: 13vh;
	margin: 0;
	padding-left: 10px;
}
#favorites  > .row {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}
#favorites  > .row > .col-md-2 {
  display: inline-block;
  float: none;
}
#favorites .favorite-box{
	border-right: 1px solid rgba(0, 0, 0, 0.30);
}
#favorites.logedIn{
	display: block!important;
}
#favorites.logedOut{
	display: none!important;
}
#favorites .favorite{
	padding-top: 5px;
}
#favorites .favorite img{
	height: 70px;
	border-radius: 8px;
}
#favorites .favorite .texts{
	border-left: 4px solid blue;
}
#favorites .favorite .texts h4{
	color: #000000;
	display: block;
}
#favorites .favorite .texts h4.title{
	font-size: 19px;
	margin-bottom: 0;
	font-weight: 600;
}
#favorites .favorite .texts h4.address{
	font-weight: 100;
	margin-top: 5px;
}
#favorites .favorite .map-image{
	padding: 0;
}
#favorites .favorite .map-image img{
    margin: 0 auto;
    display: block;
}
#map{
  height: 80vh;
  width: 100%;
}
#map.logedIn{
	height: 65vh;
}
#map.logedOut{
	height: 78vh;
}
#subtitle-map .red, #subtitle-map-mobile .red{
	color: #c30000;
	text-align: center;
}
#subtitle-map .blue, #subtitle-map-mobile .blue{
	color: #1500b8;
	text-align: center;
}
#subtitle-map .grey, #subtitle-map-mobile .grey{
	color: #5f5f5f;
	text-align: center;
}
#subtitle-map-mobile{
  display: none;
}
#subtitle-map, #subtitle-map-mobile{
  padding: 10px 15px;
  height: 10vh;
}
#subtitle-map.row, #subtitle-map-mobile.row{
  margin: 0;
}
#subtitle-map img, #subtitle-map-mobile img{
  height: 40px;
}
#subtitle-map div, #subtitle-map-mobile img{
  text-align: center;
}
#subtitle-map div b{
  margin-left: 15px;
}
 /*Fim do Mapa*/

 /*Modal*/

#alagoModal .modal-content{
	border-radius: 20px;
}
#alagoModal .modal-header{
	border-bottom: 0;
	padding-bottom: 2px;
}
#alagoModal .modal-header img{
    border-radius: 30px;
    height: 30px;
}
#alagoModal .modal-header span{
	color: #000000;
}
#alagoModal .modal-body{
	padding-top: 0;
	text-align: center;
}
#alagoModal .modal-body h1{
	margin: 0;
	color: #318bea;
	font-weight: 600;
}
#alagoModal .modal-body h4{
	color: #000000;
	font-weight: 100;
}
#alagoModal .modal-body input{
	border: 0;
	color: #000000;
	font-weight: 300;
}
#alagoModal .modal-body .state img{
	height: 55px;
}
#alagoModal .modal-body .radio-area{
	width: 80%;
	margin: 0 auto;
}
#alagoModal .modal-footer{
	border: 0;
	padding: 0;
}
#alagoModal .modal-footer button{
	background-color: #0166d9;
    width: 100%;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-transform: uppercase;
    font-size: 23px;
    color: #ffffff;
    font-weight: 600;
    padding: 11px;
    outline: none;
}
#alagoModal .modal-footer button:hover{
	background: #ffffff;
	color: #0166d9;
	border: 1px solid #0166d9;
}

 /*Fim do Modal*/

/*Botão radio*/


.modal-body input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.modal-body label {
  color: #9a929e;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  margin: 0;
  width: 50%;
}

.modal-body input[type=radio]:checked + label {
  color: #ccc8ce;
  background: #675f6b;
}

.modal-body label + input[type=radio] + label {
  border-left: solid 3px #675f6b;
}

.modal-body .radio-group {
  border: solid 3px #675f6b;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  /*width: 80%;*/
  display: block;
  margin: 0 auto;
  padding: 0;
}


/*Fim do radio*/

/*Input do Modal*/

* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */

.container.input{ 
  font-family:'Roboto';
  width:90%; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:0 50px 10px;
  text-align: left;
}
.container.input label{
	padding-left: 0;
}
.input h2 		 { 
  /*text-align:center; */
  margin-bottom:50px; 
}
.input h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}

/* form starting stylings ------------------------------- */
.input .group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
.input .group input{
	border-bottom: 2px solid!important;
}
.input input 				{
  font-size:18px;
  padding:10px 10px 5px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
.input input:focus 		{ outline:none; }

/* LABEL ======================================= */
.input label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.input input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#27358d;
}
input#option-one:valid ~ label{
	color: red;
}
input#option-two:valid ~ label{
	color: #27358d;
}

/* BOTTOM BARS ================================= */
.input .bar 	{ position:relative; display:block; width:100%; }
.input .bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#27358d; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.input .bar:before {
  left:50%;
}
.input .bar:after {
  right:50%; 
}

/* active state */
.input input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.input .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.input input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:; }
  to 	{ width:0; background:transparent; }
}

.full{
	width: 100%!important;
}
/*Fim do input do modal